
  <form action='/search' method= 'get' id='companySearchForm' class="col s12">

    <div class="input-field ">
      <input placeholder="Enter Company Name" name='company_name' id="companySearch" type="text" class="validate center-align">
    </div>
      <br>
      <br>
    <button class="btn waves-effect waves-light grey" type="submit">Search</button>
  </form>

