<div class="navbar-fixed">
  <nav class="grey darken-2">
    <div class="grey">

      <a href="#" class="brand-logo center">Lobby Lister</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn grey" href="../">Home</a></li>
        <li><a class="waves-effect waves-light btn grey" href="../user/login">Login</a></li>
        <li><a class="waves-effect waves-light btn grey" href="../user/new">SignUp</a></li>
      </ul>
    </div>
    </nav>
</div>

