<div class="navbar-fixed">
  <nav class="red darken-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Lobby Lister</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="../">Home</a></li>
        <li><a href="../user/login">Login</a></li>
        <li><a href="../user/new">SignUp</a></li>
      </ul>
    </div>
  </nav>
</div>

