<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<div class="header center white-textcontainer red darken-1 white-text">
<body>
<header>
<% include ../partials/header %>
</header><!-- /header -->
  <nav>
<% include ../partials/navigation %>
  </nav>



<ol>
  <%if(companies.length){ %>
    <% companies.forEach( function(companies){  %>
    <li>[<%=companies.title%>]

    </li>
    <% }) %>
  <% }else{ %>
    <li>No Results found</li>
  <% } %>
</ol>


</body>
</div>
</html>
