@import 'https://fonts.googleapis.com/css?family=Raleway';

html {
  height: 100%;
  width: 100%;
  color: #E5F1FF;
  background-color: #264F7F;
  font-family: 'Raleway', sans-serif;
}
.greeting {
  float: right;
}
section {
  background-color: grey;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 72px; }


.navig {
  background-color: #586C7F;
}

.welcome-message {
  font-size: 2em;
}
p {
  font-size: 1.1em;
}

button {
  background-color: #586C7F;
}

#companySearchForm {
  padding-top: 20px;
}

.money {
  color: lightgreen;
  font-weight: bold;
  font-size: 1.75em;
}

.lobbyist {
  color: yellow;
  font-weight: bold;
  font-size: 1.25em;
}

.registrar {
  color: orange;
  font-weight: bold;
  font-size: 1.25em;
}
.transactionID {
  color: lightblue;
  font-weight: bold;
  font-size: 1.25em;

}

.card-title {
  font-size: 2em;
}
.card-action {
  height: 75px;
}

