@import 'https://fonts.googleapis.com/css?family=Raleway';

html {
  height: 100%;
  width: 100%;
  color: #E5F1FF;
  background-color: #264F7F;
  font-family: 'Raleway', sans-serif;
}

section {
  background-color: grey;
}

p {
  font-size: 1.1em;
}

button {
  background-color: #586C7F;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 72px; }
a.mypage-link {
  margin-top: 50px;
}

.user-form {
  margin-top: 60px;
}
.site-description {
  padding: 10px;
  border-radius: 20px
}

.results {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 15px;

}

.results-label {
  font-size: 1.25em;
  color: navy;
}

.money {
  color: lightgreen;

  font-weight: bold;
  font-size: 1.75em;
}

.lobbyist {
  color: yellow;
  font-weight: bold;
  font-size: 1em;
}

.registrar {
  color: orange;
  font-weight: bold;
  font-size: 1em;
}

.transactionID {
  color: lightblue;
  font-weight: bold;
  font-size: 1em;
}

.card-title {
  font-size: 1.5em;
}
.card-content {
  height: 100%;
  max-height: 200px;
  overflow: scroll;
}
.card-action {
  padding: 10px;
  border-top: 3px solid #264F7F;
}
.saved-content {
  margin-bottom: 10px;
  border-radius: 15px;
}
/*
.card-action {
  height: 75px;
}*/

.mypage-link {
  float:right;
}

#companySearchForm {
  padding-top: 20px;
}
