<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>

  <nav>
<% include ../partials/navigation %>
  </nav>
  <div class="container">
  <form action="/user/login" method="post">
    <label for="">Email:</label>
    <input type="text" name="email"><br>
    <label for="">Password:</label>
    <input type="password" name="password"><br>
    <input class="btn default grey" type="submit" value="Login">
  </form>
  </div>
</body>
</html>
