<!DOCTYPE html>
<html class= 'teal darken-1'>
  <head><% include ../partials/head %></head>
    <div class="header center white-textcontainer red darken-1 white-text">
      <body >
      <header><% include ../partials/header %></header>
      <nav><% include ../partials/navigation %></nav>








      </body>
</div>
</html>
