<!DOCTYPE html>
<html>

  <head><% include ../partials/head %></head>

  <body>
    <header><% include ../partials/header %></header>

    <nav><% include ../partials/navigation %></nav>

      <div class="container">
        <h1>Welcome,
          <% if(user){ %>
            <%= user.fname %> <%= user.lname %>
          <% } else { %>
            stranger!
          <% } %>
        </h1>

      <section class= 'formEJS'><% include ../partials/form %></section>

      </div>

  </body>

</html>
