<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<div class="header center white-textcontainer red darken-1 white-text">
<body>
<header>
<% include ../partials/header %>
</header><!-- /header -->
  <nav>
<% include ../partials/navigation %>
  </nav>

  <h1>WELCOME,
    <% if(user){ %>
      <%= user.fname %> <%= user.lname %>
    <% } else { %>
      guest!
    <% } %>
  </h1>


  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Enter Company Name" id="company_name" type="text" class="validate">
          <label for="company_name">Organization</label>
        </div>
        <div class="input-field col s6">
          <input id="year" type="text" class="validate">
          <label for="year">Year</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="topic">Topic</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
  </div>

</body>
</div>
</html>
